__pycache__
.bloop
.bsp
.DS_Store
.idea
.metals
.venv
.vscode
/data/*
!/data/.gitkeep
/logs/*
!/logs/.gitkeep
/project
/target/.history3
/target/scala-2.12/classes/*
/target/scala-2.12/sync/*
/target/scala-2.12/update/*
/target/scala-2.12/zinc/*
/target/streams/*
metals.sbt