.bloop
.bsp
.idea
.metals
.venv
.vscode

__pycache__
.DS_Store
/data/*
/data/.gitkeep
/logs/*
!/logs/.gitkeep
metals.sbt
/project
/target/scala-2.12/classes/*
/target/scala-2.12/sync/*
/target/scala-2.12/update/*
/target/scala-2.12/zinc/*
/target/streams/*
/target/.history3